@use "../settings/theme-variables" as theme;
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";

/* ==========================    Sidebar CSS   ====================== */
/* ******************************************************************************* */

.pcoded-navbar {
    display: block;
    z-index: 1028;
    position: fixed;
    box-shadow: 0 2px 10px -1px rgba(69,90,100,0.3);
    transition: all 0.3s ease-in-out;
    width: theme.$Menu-width;
    height: calc(100% - #{theme.$header-height});
    margin-top: theme.$header-height;
    top: 0;
    background: theme.$menu-dark-background;
    color: theme.$menu-dark-text-color;

    ul {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
    }

    .scroll-div.navbar-content {
        height: 100%;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 37px;
        height: theme.$header-height;
        position: absolute;
        right: 10px;
        top: 0;
        padding: 0 10px;
        transition: all 0.3s ease-in-out;
    }

    .pcoded-badge {
        font-size: 75%;
        position: relative;
        right: 0;
        top: -1px;
        padding: 2px 7px;
        border-radius: 2px;
        display: inline-block;
        margin-left: 10px;
    }

    .main-menu-header {
        background: color.scale(theme.$menu-dark-background,$lightness:10%);
        position: relative;
        padding: 10px;
        text-align: left;
        display: flex;
        height: 120px;
        align-items: center;
        margin: 6px;
        border-radius: 5px;

        .user-details {
            cursor: pointer;
            display: inline-block;
            margin-left: 10px;

            > div,
            > span {
                transition: all 0.2s ease-in-out;
            }
        }
    }

    .pcoded-inner-navbar {
        flex-direction: column;

        li {
            position: relative;

            > a {
                text-align: left;
                padding: 5px 10px;
                display: block;
                position: relative;
                margin: 6px;
                border-radius: 5px;

                .pcoded-mtext {
                    position: relative;
                }

                > .pcoded-micon {
                    font-size: 16px;
                    margin-right: 5px;
                    border-radius: 4px;
                    width: 30px;
                    display: inline-flex;
                    align-items: center;
                    height: 30px;
                    text-align: center;
                    justify-content: center;

                    + .pcoded-mtext {
                        position: relative;
                        top: 0;
                    }
                }
            }

            &.pcoded-hasmenu {
                > a {
                    &:after {
                        content: "\e932";
                        font-family: 'PrimeIcons';
                        font-size: 13px;
                        border: none;
                        position: absolute;
                        top: 13px;
                        right: 20px;
                    }
                }

                &.pcoded-trigger {
                    > a {
                        &:after {
                            transform: rotate(90deg);
                        }
                    }
                }

                .pcoded-submenu {
                    display: none;

                    a {
                        &:after {
                            top: 7px;
                        }
                    }
                }

                &.pcoded-trigger.active {
                    > .pcoded-submenu {
                        display: block;
                    }

                    > a {
                        position: relative;
                    }
                }


                .pcoded-submenu {
                    position: relative;
                    li {
                        position: relative;
                        > a {
                            text-align: left;
                            padding: 7px 7px 7px 45px;
                            margin: 0;
                            display: block;

                            &:before {
                                content: "\e932";
                                font-family: 'PrimeIcons';
                                position: absolute;
                                top: 8px;
                                left: 24px;
                            }
                        }

                        .pcoded-submenu {
                            &:after {
                                left: 45px;
                                top: -20px;
                                height: calc(100% - 15px);
                            }

                            > li {
                                &:after {
                                    left: 46px;
                                    width: 20px;
                                }

                                > a {
                                    padding: 7px 7px 7px 65px;

                                    &:before {
                                        left: 45px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.pcoded-menu-caption {
                font-size: 13px;
                font-weight: 600;
                color: theme.$primary-color;
                padding: 18px 15px 5px;
                text-transform: capitalize;
                position: relative;
                margin-top: 10px;

                &:first-child {
                    border-top: none;
                    margin-top: 0;
                }

                > label {
                    margin-bottom: 0;
                }
            }

            &.disabled {
                > a {
                    cursor: default;
                    opacity: 0.5;
                }
            }
        }
    }

    .pcoded-submenu {
        background: theme.$menu-dark-background;
        padding: 15px 0;
    }

    a {
        color: theme.$menu-dark-text-color;
    }

    .navbar-content,
    .navbar-wrapper {
        width: 100%;
        height: 100%;
    }

    &.navbar-collapsed {
        width: theme.$Menu-collapsed-width;
        height: calc(100% - #{theme.$header-height}-30px);
        transition: all 0.3s ease-in-out;

        .pcoded-micon {
            position: relative;
            left: -5px;
        }

        .navbar-content {
            &.ps {
                overflow: visible;
            }
        }

        .pcoded-menu-caption {
            position: relative;
            width: 100%;
            height: auto;
            white-space: nowrap;
            overflow: hidden;

            > label {
                transform: rotateY(-90deg);
                transform-origin: 0 0;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }

            &:after {
                content: "";
                position: absolute;
                top: 32px;
                left: 15px;
                width: calc(100% - 30px);
                height: 1px;
                background: color.scale(theme.$menu-dark-text-color,$alpha: -50%);
            }
        }

        .pcoded-inner-navbar {
            > li {
                > a {
                    padding: 7px 20px;

                    > .pcoded-micon + .pcoded-mtext {
                        position: absolute;
                        top: 11px;
                    }

                    > .pcoded-mtext {
                        transform: rotateY(-90deg);
                        transform-origin: 0 0;
                        opacity: 0;
                        transition: all 0.3s ease-in-out;
                    }
                }

                &.pcoded-hasmenu {
                    > a {
                        &:after {
                            right: 12px;
                        }
                    }

                    .pcoded-submenu {
                        display: none;
                    }
                }
            }

            > li {
                &.pcoded-trigger {
                    .pcoded-submenu {
                        li {
                            a {
                                color: transparent;
                                white-space: nowrap;
                            }

                            +li {
                                a {
                                    border-top: none;
                                }
                            }
                        }

                        .pcoded-submenu {
                            li {
                                a:before {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }

            }
        }

        ~ .pcoded-header {
            .dropdown.mega-menu {
                .dropdown-menu {
                    left: theme.$Menu-collapsed-width;
                    width: calc(100vw - #{theme.$Menu-collapsed-width} - 15px);
                }
            }
        }

        ~ .pcoded-main-container {
            margin-left: 5.5rem;
        }

        .pcoded-badge {
            transform: rotateX(-90deg);
            transform-origin: 50% 50%;
            opacity: 0;
            display: none;
            transition: all 0.15s ease-in-out;
        }

        &:hover {
            width: theme.$Menu-width !important;
            .mobile-menu {
                transform: rotateY(0deg);
                opacity: 1;
            }

            .pcoded-inner-navbar {
                > li {
                    > a {
                        > .pcoded-mtext {
                            transform: rotateY(0deg);
                            opacity: 1;

                            &:after {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }

                    &.pcoded-hasmenu {
                        > a {
                            &:after {
                                transform: rotateX(0deg);
                            }
                        }

                        &.pcoded-trigger {
                            > a {
                                &:after {
                                    transform: rotateX(0deg) rotate(90deg);
                                }
                            }
                        }

                    }
                }

                > li {
                    &.pcoded-trigger {
                        .pcoded-submenu {

                            li {
                                a {
                                    color: inherit;
                                }
                            }

                            .pcoded-submenu {
                                li {
                                    a:before {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        &:not(:hover) {
            .pcoded-inner-navbar {
                > li {
                    > a {
                        transition: all 0.3s ease-in-out;

                        &:after {
                            display: none;
                        }
                    }

                    &.pcoded-trigger.pcoded-hasmenu > .pcoded-submenu {
                        li.active > a:before,
                        li.pcoded-trigger > a:before,
                        > a:before,
                        li:hover > a:before {
                            content: "";
                            top: 10px;
                            left: 31px;
                            border-radius: 50%;
                            background: theme.$primary-color;
                            padding: 5px;
                            box-shadow: 0 0 0 5px theme.$menu-dark-background;
                            z-index: 6;
                        }

                        &:before {
                            content: "";
                            width: 2px;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: calc(#{theme.$Menu-collapsed-width} / 2);
                            z-index: 5;
                            background: color.scale(theme.$menu-dark-text-color,$alpha: -80%);
                        }
                    }

                  
                }
            }

            .main-menu-header {
                .user-details {
                    > div,
                    > span {
                        opacity: 0;
                        transform: rotateY(-90deg);
                    }
                }
            }

        }
    }

    .pcoded-menu-caption {
        color: #8090a5;
    }

    .pcoded-inner-navbar {
        li {
            &.active,
            &:focus,
            &:hover {
                > a {
                    color: theme.$primary-color;
                }
            }
        }

        > li {
            &.active,
            &.pcoded-trigger {

                > a {
                    background: theme.$primary-color;
                    color: #fff;
                }
            }
        }

        > .pcoded-menu-caption {
            &.active,
            &.pcoded-trigger {
                &:after {
                    display: none;
                }
            }
        }
    }
}


.pcoded-navbar {
  .pcoded-inner-navbar {
    li {
      &.pcoded-menu-caption:first-child {
        margin-top: 10px;
        border-top: 1px solid #344258;
      }
    }

    li.pcoded-hasmenu .pcoded-submenu {
      &:after {
        height: calc(100% - 30px);
      }

      li .pcoded-submenu > app-nav-item > li {
        > a {
          &:before {
            left: 65px;
          }
        }

        &:after {
          left: 45px;
        }
      }

      li {
        .pcoded-submenu:after {
          height: calc(100% - 15px);
          top: -15px;
        }
        .pcoded-submenu > app-nav-item > li > a {
          padding: 7px 7px 7px 80px;
        }
      }
    }

    app-nav-group:first-child {
      > .pcoded-menu-caption {
        border-top: none;
        margin-top: 0;
      }
    }

    app-nav-group > app-nav-collapse > li,
    app-nav-group > app-nav-item > li {
      &.active{
        > a {
          background: theme.$primary-color;
          color: #fff;
         margin: 6px;
        border-radius: 5px;
        }
      }

       &.pcoded-trigger {
        > a:has(.nav-link.active) {
          background: theme.$primary-color;
          color: #fff;
        }
      }
      
     
      &:hover,
      .pcoded &.active {
        > a {
          color: #fff;
        }

        ul app-nav-item li a:hover {
          background: transparent;
        }
      }
    }
  }

  &.navbar-collapsed {
    .pcoded-inner-navbar {
      .pcoded-menu-caption {
        &:after {
          width: 40px;
        }
      }

      > app-nav-group > app-nav-collapse > li,
      > app-nav-group > app-nav-item > li {
        > a {
          padding: 7px 20px;
          width: theme.$Menu-collapsed-width;
          transition: all 0.3s ease-in-out;

          > .pcoded-micon + .pcoded-mtext {
            position: absolute;
            top: 11px;
          }

          > .pcoded-mtext {
            transform: rotateY(-90deg);
            transform-origin: 0 0;
            opacity: 0;
            transition: all 0.3s ease-in-out;
          }
        }

        &.pcoded-hasmenu {
          > a {
            &:after {
              right: 12px;
            }
          }

          .pcoded-submenu {
            display: none;
          }
        }
      }

      > app-nav-group > app-nav-collapse > li,
      > app-nav-group > app-nav-item > li {
        &.pcoded-trigger {
          .pcoded-submenu {
            li {
              a {
                color: transparent;
                white-space: nowrap;
              }
            }

            .pcoded-submenu {
              li {
                a:before {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }

    &:hover {
      .pcoded-inner-navbar {
        > app-nav-group > app-nav-collapse > li,
        > app-nav-group > app-nav-item > li {
          > a {
            width: 95%;

            > .pcoded-mtext {
              transform: rotateY(0deg);
              opacity: 1;

              &:after {
                opacity: 1;
                visibility: visible;
              }
            }
          }

          &.pcoded-hasmenu {
            > a {
              &:after {
                transform: rotateX(0deg);
              }
            }

            &.pcoded-trigger {
              > a {
                &:after {
                  transform: rotateX(0deg) rotate(90deg);
                }
              }
            }
          }
        }

         app-nav-item > li:hover{
          color: #00ab86;
        }
         app-nav-item > li.active{
          color: #00ab86;
        }
        > app-nav-group > app-nav-collapse > li,
        > app-nav-group > app-nav-item > li {
          &.pcoded-trigger {
            .pcoded-submenu {
              li {
                a {
                  color: inherit;
                }
              }

              .pcoded-submenu {
                li {
                  a:before {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }

    &:not(:hover) {
      .pcoded-inner-navbar {
        > app-nav-group {
          > app-nav-item,
          > app-nav-collapse {
            > li {
              > a {
                width: 60px;
                padding: 7px 20px;

                &:after {
                  display: none;
                }
              }

              .pcoded-submenu {
                a {
                  border-top: none;
                }

                li {
                  &.active {
                    a:before {
                      content: "";
                      top: 10px;
                      left: 31px;
                      border-radius: 50%;
                      background: #00ab86;
                      padding: 5px;
                      box-shadow: 0 0 0 5px #2c3e50;
                      z-index: 6;
                    }
                  }
                }

                &:after {
                  content: "";
                  width: 2px;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: calc(70px / 2);
                  z-index: 5;
                  background: rgba(151, 167, 193, 0.2);
                }
              }
            }
          }
        }
      }
    }

    &.menu-light.navbar-collapsed:not(:hover)
      .pcoded-inner-navbar
      > app-nav-group
      > app-nav-collapse
      > li
      .pcoded-submenu
      li.active
      a:before,
    &.menu-light.navbar-collapsed:not(:hover)
      .pcoded-inner-navbar
      > app-nav-group
      > app-nav-item
      > li
      .pcoded-submenu
      li.active
      a:before {
      box-shadow: 0 0 0 5px #fff;
    }
  }

  &.theme-horizontal {
    &.menu-light {
      .pcoded-inner-navbar
        > app-nav-group
        > app-nav-collapse
        > li.pcoded-hasmenu.active:before,
      .pcoded-inner-navbar
        > app-nav-group
        > app-nav-collapse
        > li.pcoded-hasmenu.pcoded-trigger:before,
      .pcoded-inner-navbar app-nav-item > li.pcoded-hasmenu.active:before,
      .pcoded-inner-navbar
        app-nav-item
        > li.pcoded-hasmenu.pcoded-trigger:before {
        color: #fff;
      }
    }

    .pcoded-inner-navbar {
      li {
        &.active,
        &:focus,
        &:hover {
          > a {
            font-weight: 500;
          }
        }
      }
    }

    .pcoded-inner-navbar {
      > app-nav-collapse,
      > app-nav-item {
        position: relative;
        display: inline-block;
        list-style: outside none none;
      }

      > app-nav-group > app-nav-collapse > li,
      app-nav-item > li {
        display: inline-block;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        position: relative;

        > a {
          margin: 0;
          padding: 8px 15px;

          > .pcoded-mtext {
            position: relative;
            top: 0;
            margin-right: 5px;
          }

          &:after {
            position: relative;
            top: 0;
            right: 0;
          }
        }

        &.active,
        &.pcoded-trigger,
        &:hover {
          a {
            box-shadow: none;
            color: #fff;
            background: transparent;
          }
        }

        &.pcoded-hasmenu {
          &.active,
          &.pcoded-trigger {
            &:before {
              content: "\6d";
              position: absolute;
              bottom: -27px;
              left: 0;
              font-family: "pct";
              z-index: 1001;
              font-size: 50px;
              line-height: 1;
              padding-left: calc(50% - 25px);
              color: theme.$menu-dark-background;
              text-shadow: 0 2px 2px rgba(54, 80, 138, 0.3);
              width: 100%;
              height: 40px;
              transform: scaleX(1.2);
            }

            > .pcoded-submenu {
              margin-top: 30px;
            }
          }
        }

        &.active,
        &.pcoded-trigger {
          &:after {
            content: "";
            background-color: theme.$primary-color;
            z-index: 1027;
            position: absolute;
            left: 19px;
            top: auto;
            bottom: 5px;
            width: 23px;
            height: 2px;
          }
        }

        &.pcoded-hasmenu.edge {
          > .pcoded-submenu {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}



app-nav-group {
  app-nav-collapse {
    > li {
      overflow: hidden;

      > a {
        z-index: 999;
        background: color.scale(theme.$header-dark-background,$lightness: 3%);
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }
  }

  > app-nav-collapse {
    > li {
      overflow: hidden;

      > a {
        z-index: 999;
        background: theme.$menu-dark-background;
           margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }
  }
}

.navbar-collapsed:hover .mobile-menu {
  transform: rotateY(0deg) !important;
  opacity: 1 !important;
}


.pcoded-navbar {
  &.menu-light {
    .pcoded-inner-navbar app-nav-item > li.nav-item.active > a,
    .pcoded-inner-navbar app-nav-item > li.nav-item.pcoded-trigger > a {
      background: #f1f1f1;
      color: #000;
    }

    .pcoded-inner-navbar li.pcoded-menu-caption:first-child {
      border-top-color: #e2e5e8;
    }
  }

  &.navbar-collapsed {
    .pcoded-inner-navbar
      > app-nav-group
      > app-nav-collapse
      > li.pcoded-hasmenu
      .pcoded-submenu,
    .pcoded-inner-navbar app-nav-item > li.pcoded-hasmenu .pcoded-submenu {
      display: block;
    }
  }

  .pcoded-inner-navbar {
    li {
      &.pcoded-hasmenu {
        position: relative;

        .pcoded-submenu {
          opacity: 0;
          visibility: hidden;
          transform-origin: 50% 50%;
          transition: transform 0.3s, opacity 0.3s;
          transform-style: preserve-3d;
          transform: rotateX(-90deg);
          position: absolute;
          display: block;
        }

        &.pcoded-trigger {
          > .pcoded-submenu {
            position: relative;
            opacity: 1;
            visibility: visible;
            transform: rotateX(0deg);
          }
        }
      }
    }
  }

  &.menupos-fixed {
    height: 100vh;
    min-height: 100vh;

    .pcoded-inner-navbar {
      margin-bottom: theme.$header-height;
    }
  }
}



.pcoded-navbar {
  &.menu-light {
    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active > a,
    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active a,
    .pcoded-inner-navbar
      > app-nav-group
      > app-nav-collapse
      > li.pcoded-trigger
      > a,
    .pcoded-inner-navbar
      > app-nav-group
      > app-nav-collapse
      > li.pcoded-trigger
      a,
    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li:hover a,
    .pcoded-inner-navbar app-nav-item > li.active a,
    .pcoded-inner-navbar app-nav-item > li.pcoded-trigger a,
    .pcoded-inner-navbar app-nav-item > li:hover a {
      background: transparent;
    }

    .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active > a,
    .pcoded-inner-navbar
      > app-nav-group
      > app-nav-collapse
      > li.pcoded-trigger
      > a,
    .pcoded-inner-navbar > app-nav-item > li.active > a,
    .pcoded-inner-navbar > app-nav-item > li.pcoded-trigger > a {
      background: theme.$primary-color;
      color: #fff;
    }
  }

  &.theme-horizontal {
    .badge {
      display: none !important;
    }

    &.menu-light {
      .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active > a,
      .pcoded-inner-navbar
        > app-nav-group
        > app-nav-collapse
        > li.pcoded-trigger
        > a,
      .pcoded-inner-navbar > app-nav-group > app-nav-item > li.active > a,
      .pcoded-inner-navbar
        > app-nav-group
        > app-nav-item
        > li.pcoded-trigger
        > a {
        background: transparent !important;
        color: #000 !important;
      }

      &.navbar-blue,
      &.navbar-dark,
      &.navbar-lightblue,
      &.navbar-purple,
      &.navbar-red {
        .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active > a,
        .pcoded-inner-navbar
          > app-nav-group
          > app-nav-collapse
          > li.pcoded-trigger
          > a,
        .pcoded-inner-navbar > app-nav-group > app-nav-item > li.active > a,
        .pcoded-inner-navbar
          > app-nav-group
          > app-nav-item
          > li.pcoded-trigger
          > a {
          background: transparent !important;
          color: #fff !important;
        }
      }

      .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li.active a,
      .pcoded-inner-navbar
        > app-nav-group
        > app-nav-collapse
        > li.pcoded-trigger
        a,
      .pcoded-inner-navbar > app-nav-group > app-nav-collapse > li:hover a,
      .pcoded-inner-navbar app-nav-item > li.active a,
      .pcoded-inner-navbar app-nav-item > li.pcoded-trigger a,
      .pcoded-inner-navbar app-nav-item > li:hover a {
        background: transparent;
        color: theme.$menu-light-text-color;
      }
    }

    .pcoded-mtext {
      z-index: -1;
    }

    ~ .pcoded-header header {
      display: flex;
      align-items: center;
    }

    .sidenav-horizontal-wrapper {
      height: theme.$header-height;
      flex: 0 1 100%;
      width: 0;

      app-nav-group {
        display: inline-flex;
      }

      app-nav-group > app-nav-collapse > li,
      app-nav-group app-nav-collapse > li {
        overflow: visible;
      }

      .pcoded-inner-navbar .pcoded-hasmenu {
        .pcoded-submenu {
          opacity: 0;
          visibility: hidden;
          transform-origin: 50% 50%;
          transition: transform 0.3s, opacity 0.3s;
          transform-style: preserve-3d;
          transform: rotateX(-90deg);
          position: absolute;
          min-width: 255px;
          display: block;
          z-index: 1;
          top: 100%;
          list-style: outside none none;
          margin: 0;
          border-radius: 4px;
          padding: 15px;
          box-shadow: 0 4px 24px 0 rgba(62, 57, 107, 0.18);
          background: #fff;

          .pcoded-submenu {
            left: calc(100% + 30px);
            top: -10px;
          }

          li {
            display: block;

            &:after {
              display: none;
            }
          }
        }

        &.pcoded-trigger {
          > .pcoded-submenu {
            opacity: 1;
            visibility: visible;
            transform: rotateX(0deg);
          }
        }
      }
    }

    .pcoded-inner-navbar {
      app-nav-item > li {
        &.active:after,
        &.pcoded-trigger:after {
          top: auto !important;
          height: 2px !important;
        }
      }
    }
  }
}


.pcoded-navbar {
  @each $value in theme.$color-active-name {
    $i: list.index(theme.$color-active-name, $value);

    &[class*="menu-item-icon-style"] {
      .pcoded-inner-navbar
        li.pcoded-hasmenu
        .pcoded-submenu
        li.active
        > a:before {
        color: theme.$primary-color;
      }
    }

    &.active-#{$value} {
      &[class*="menu-item-icon-style"] {
        .pcoded-inner-navbar
          li.pcoded-hasmenu
          .pcoded-submenu
          li.active
          > a:before {
          color: list.nth(theme.$color-active-color, $i);
        }
      }

      .pcoded-inner-navbar {
        > app-nav-group > app-nav-collapse li {
          &.active,
          &:focus,
          &:hover {
            > a {
              color: list.nth(theme.$color-active-color, $i);
            }
          }

          .pcoded-submenu > app-nav-item li {
            &.active,
            &:focus,
            &:hover {
              > a {
                &:before {
                  background: list.nth(theme.$color-active-color, $i);
                }
              }
            }
          }
        }

        > app-nav-group > app-nav-collapse > li {
          &.active,
          &.pcoded-trigger {
            &:after {
              background-color: list.nth(theme.$color-active-color, $i);
            }

            > a {
              background: color.scale(theme.$header-dark-background,$lightness: 6%);
              color: #fff;
            }
          }
        }
      }

      &.menu-light {
        .pcoded-inner-navbar {
          > li {
            &.active,
            &.pcoded-trigger {
              > a {
                background: #f1f1f1;
                color: #000;
              }
            }
          }
        }
      }
      // horizontal-layout
      &.theme-horizontal {
        .pcoded-inner-navbar {
          > li {
            &,
            &.pcoded-hasmenu {
              &.active,
              &.pcoded-trigger,
              &:hover {
                > a {
                  background: transparent;
                }
              }

              .pcoded-submenu > li {
                &.active,
                &.pcoded-trigger,
                &:hover {
                  > a {
                    color: list.nth(theme.$color-active-color, $i);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



.theme-horizontal {
  .sidenav-horizontal-wrapper {
    flex: 1 1 auto;
    width: 0;

    .sidenav:not(.sidenav-no-animation) & .sidenav-inner {
      transition: margin 0.2s;
    }
  }

  .sidenav-horizontal-next,
  .sidenav-horizontal-prev {
    position: relative;
    display: block;
    flex: 0 0 auto;
    width: 2.25rem;
    background-color: theme.$menu-dark-background;
    z-index: 9;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0.8rem;
      height: 0.8rem;
      border: 2px solid;
      border-top: 0;
    }

    &.disabled {
      cursor: default !important;
      opacity: 0;
    }
  }

  .sidenav-horizontal-prev::after {
    border-right: 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .sidenav-horizontal-next::after {
    border-left: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .sidenav-horizontal {
    &:after,
    &:before {
      content: "";
      background: theme.$menu-dark-background;
      width: 100%;
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 5;
      @media only screen and (max-width: 991px) {
        display: none;
      }
    }

    &:before {
      left: 100%;
    }

    &:after {
      right: 100%;
    }
  }

  &.menu-light {
    .sidenav-horizontal {
      &:after,
      &:before {
        background: theme.$menu-light-background;
      }
    }
  }
}

.pcoded-navbar {
  .card {
    background: rgba(255, 255, 255, 0.1);
    margin: 20px;
    box-shadow: 0 0 0 1px color.scale(theme.$theme-border, $alpha: -85%);
    color: rgba(255, 255, 255, 0.6);

    h6 {
      color: rgba(255, 255, 255, 0.6);
    }

    .close {
      position: absolute;
      color: theme.$menu-dark-text-color;
      position: absolute;
      top: 10px;
      right: 12px;
      opacity: 0.8;
      text-shadow: none;
    }
  }

  &.menu-light {
    .card {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 0 1px theme.$theme-background;
      color: rgba(0, 0, 0, 0.6);

      h6 {
        color: theme.$menu-light-text-color;
      }

      .close {
        color: theme.$menu-light-text-color;
      }
    }
  }

  &.navbar-collapsed {
    .card {
      display: none;
    }
  }
}


.pcoded-navbar.menu-light {
  background-color: theme.$menu-light-background;
  color: theme.$menu-light-text-color;

  .header-logo {
    background-color: theme.$menu-dark-background;

    .logo-dark {
      display: none;
    }

    .logo-main {
      display: block;
    }
  }

  .main-menu-header {
    background: color.scale(theme.$menu-light-background, $lightness: 5%);
  }

  .sidenav-horizontal-next,
  .sidenav-horizontal-prev {
    background: #fff;
  }

  .mobile-menu {
    span {
      background-color: color.scale(theme.$header-dark-text-color, $alpha: 20%);

      &:after,
      &:before {
        background-color: color.scale(theme.$header-dark-text-color, $alpha: 20%);
      }
    }

    &.on {
      span {
        background-color: transparent;
      }
    }
  }

  .pcoded-inner-navbar {
    li.pcoded-hasmenu .pcoded-submenu {
      li {
        &.active,
        &.pcoded-trigger,
        &:hover {
          > a {
            &:before {
              color: theme.$primary-color;
            }
          }
        }
      }
    }

    li.pcoded-hasmenu .pcoded-submenu li + li {
      > a {
        border-top-color: #ededed;
      }
    }
  }

  .pcoded-submenu {
    background: theme.$menu-light-background;
  }

  a {
    color: theme.$menu-light-text-color;
  }

  &.navbar-collapsed {
    .pcoded-menu-caption {
      &:after {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    &:hover {
      .pcoded-menu-caption {
        &:after {
          background: transparent;
        }
      }
    }

    &:not(:hover)
      .pcoded-inner-navbar
      > li.pcoded-trigger.pcoded-hasmenu
      > .pcoded-submenu {
      li {
        &.active > a:before,
        &.pcoded-trigger > a:before,
        &:hover > a:before {
          box-shadow: 0 0 0 5px theme.$menu-light-background;
        }
      }
    }
  }

  .pcoded-menu-caption {
    color: theme.$menu-light-text-color;
  }

  .pcoded-inner-navbar {
    li {
      &.active,
      &.pcoded-trigger,
      &:hover {
        > a {
          color: theme.$primary-color;
          background: transparent;
        }
      }
    }

    > li {
      &.active,
      &.pcoded-trigger {
        > a {
          background: theme.$primary-color;
          color: #fff;
        }
      }
    }
  }

  &.theme-horizontal {
    .pcoded-inner-navbar {
      > li {
        &.active,
        &.pcoded-trigger,
        &:hover {
          a {
            color: theme.$menu-light-text-color;
            background: transparent;
          }
        }

        &.pcoded-hasmenu {
          &.active,
          &.pcoded-trigger {
            &:before {
              color: theme.$menu-light-background;
            }
          }
        }
      }
    }
  }
}



.pcoded-navbar {
  &[class*="navbar-image"] {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

    .navbar-brand,
    .pcoded-submenu {
      background: transparent;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.7);
    }
  }
}

.pcoded-navbar.menupos-fixed {
  //position: fixed;
  height: 100vh;
  min-height: 100vh;
  border-radius: 0;

  .scroll-div.navbar-content {
    height: calc(100% - #{theme.$header-height});
    min-height: calc(100% - #{theme.$header-height});
  }
}

.nav-link {
  font-size: 15px;
}

.nav-link:focus {
  font-size: 15px;
  color: #fff;
}

.navbar-nav li .pi {
  font-weight: lighter;
  font-size: 1.2rem;
}

.navbar-wrapper {
  position: sticky !important;
}

/* ==========================    Media responsive   ====================== */
/* ******************************************************************************* */

@media only screen and (max-width: 991px) {


    .pcoded-navbar {
    margin-left: -#{theme.$Menu-width};
    position: absolute;
    height: calc(100% - #{theme.$header-height});

    .scroll-div.navbar-content {
      height: 100%;
    }

    ~ .pcoded-header,
    ~ .pcoded-main-container {
      margin-left: 1rem !important;
    }

    ~ .pcoded-header {
      width: 100%;
    }

    .navbar-brand {
      display: none;
    }

    &.mob-open {
      margin-left: 0;

      .pcoded-main-container ~ .pcoded-header,
      ~ .pcoded-main-container {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 1605px) and (max-height: 900px) {
  .pcoded-navbar {
    display: block;
    z-index: 1028;
    box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
    transition: all 0.3s ease-in-out;
    width: 255px;
    height: calc(100% - 70px);
    margin-top: 56px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .pcoded-navbar {
    .header-logo {
      transition: none;
    }

    &.navbar-collapsed {
      transition: none;

      .pcoded-menu-caption {
        > label {
          transition: none;
        }
      }

      .pcoded-inner-navbar {
        > li {
          > a {
            > .pcoded-mtext {
              transition: none;
            }
          }

          &.pcoded-hasmenu {
            > a {
              &:after {
                transition: none;
                transition-delay: 0;
              }
            }
          }
        }
      }

      .pcoded-badge {
        transition: none;
      }

      &:hover {
        .pcoded-badge {
          transition-delay: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .pcoded-navbar {
    &.theme-horizontal {
      margin-left: 0;

      ~ .pcoded-header {
        > .collapse:not(.show),
        .container > .collapse:not(.show) {
          display: inline-flex;
          background: #fff;
          box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        }

        .b-title {
          color: #fff;
        }
      }

      .pcoded-inner-navbar {
        .pcoded-hasmenu {
          &.pcoded-trigger {
            > .pcoded-submenu {
              .pcoded-trigger,
              .pcoded-trigger.edge {
                > .pcoded-submenu {
                  position: relative;
                  left: 0;
                  min-width: 100%;
                  margin: 0;
                  box-shadow: none;

                  &:before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
