.pcoded-main-container {
  &:before {
    content: "";
    transition: all 0.3s ease-in-out;
  }
}

.pcoded-content {
  position: relative;
  display: block;
  padding-top: 25px;
  padding-right: 10px;
}

.pcoded-main-container {
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  display: block;
  clear: both;
  float: unset;
  right: 0;
  top: 0;
  margin-left: 16.5rem;
  min-height: 100%;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 991px) {
  .pcoded-main-container {
    padding-top: 0;
    margin-left: 10rem;
  }
}
