<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">
	

   
<!--ce fichier contient les services metier des Batch SMILE-->
        <!--proxi pour toute methode de la classe service-->
        <bean id="txProxyTemplate" abstract="true"            
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
            <property name="transactionManager" ref="transactionManager"/>
            <property name="transactionAttributes">
                <props>               
                    <prop key="*">PROPAGATION_REQUIRED</prop>   
                </props>
            </property>
            <property name="proxyTargetClass" value="true"/>
        </bean>
       <!--
        
    <bean id="batchService" parent="txProxyTemplate">
        <property name="target">
              <bean  class="com.bna.smile.model.domaineplacement.service.BatchService" lazy-init="true"> 
                   
              </bean>
        </property>
 
    </bean> -->
    
        <!--Initialize Abstract Class Traitement
    
    <bean id="abstractTraitement" class="com.oxia.fwk.beans.traitement.AbstractTraitement" abstract="true">
       <property name = "searchEngine"  ref="searchEngine"/>
       <property name = "crudservice"  ref="crudserviceFrw"/>
    </bean>
    -->
    <!---->

	 <!-- traitements du module placement -->
	   <bean id="insertBatchExeptionPlacTrt" class="com.bna.smile.model.domaineplacement.traitement.InsertBatchExeptionPlacTrt" parent="abstractTraitement"/>
	   <bean id="insertBatchStatPlacementTrt" class="com.bna.smile.model.domaineplacement.traitement.InsertBatchStatPlacementTrt" parent="abstractTraitement"/>

</beans>
