<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">
	
<!--ce fichier contient les services de HABILITATION  -->
    <bean id="lookupManager" class="com.oxia.security.abc.service.impl.LookupManagerImpl">
        <property name="lookupDao" ref="lookupDao"/>
    </bean>
    
    <!-- Transaction template for Managers, from:
         http://blog.exis.com/colin/archives/2004/07/31/concise-transaction-definitions-spring-11/ -->
    <bean id="txProxyTemplate1" abstract="true"
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager2"/>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
    
    <!-- Generic manager that can be used to do basic CRUD operations on any objects -->
    <bean id="manager" parent="txProxyTemplate1">
        <property name="target">
            <bean class="com.oxia.security.abc.service.impl.BaseManager">
                <property name="dao" ref="dao"/>
            </bean>
        </property>
    </bean>
    
    <!-- Transaction declarations for business services.  To apply a generic transaction proxy to
         all managers, you might look into using the BeanNameAutoProxyCreator -->
    <bean id="userManager" parent="txProxyTemplate1">
        <property name="target">
            <bean class="com.oxia.security.abc.service.impl.UserManagerImpl">
                <property name="userDao" ref="userDao"/>
            </bean>
        </property>
        <!-- Override default transaction attributes b/c of UserExistsException -->
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
        <!-- This property is overriden in applicationContext-security.xml to add
             method-level role security -->
        <!--<property name="preInterceptors">
            <list>
                <ref bean="userSecurityInterceptor"/>
            </list>
        </property>-->
    </bean>

    <!-- This interceptor insures that that users can only update themselves, not other users -->
    <bean id="userSecurityInterceptor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="userSecurityAdvice"/>
        <property name="patterns" value=".*saveUser"/>
    </bean>

    <bean id="userSecurityAdvice" class="com.oxia.security.abc.service.UserSecurityAdvice">
        <property name="userCache" ref="userCache"/>
    </bean>

    <bean id="userCache" class="org.acegisecurity.providers.dao.cache.EhCacheBasedUserCache">
        <property name="cache">
            <bean class="org.springframework.cache.ehcache.EhCacheFactoryBean">
                <property name="cacheManager">
                    <bean class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"/>
                </property>
                <property name="cacheName" value="userCache"/>
            </bean>
        </property>
    </bean>
    
    <bean id="roleManager" parent="txProxyTemplate1">
        <property name="target">
            <bean class="com.oxia.security.abc.service.impl.RoleManagerImpl">
                <property name="roleDao" ref="roleDao"/>
            </bean>
        </property>
    </bean>
     
    <bean id="operationManager" parent="txProxyTemplate1">
        <property name="target">
            <bean class="com.oxia.security.abc.service.impl.OperationManagerImpl">
                <property name="operationDao" ref="operationDao"/>
            </bean>
        </property>
    </bean>
    
    <bean id="groupeManager" parent="txProxyTemplate1">
        <property name="target">
            <bean class="com.oxia.security.abc.service.impl.GroupeManagerImpl">
                <property name="groupeDao" ref="groupeDao"/>
            </bean>
        </property>
    </bean>
    
    <bean id="applicationManager" parent="txProxyTemplate1">
        <property name="target">
            <bean class="com.oxia.security.abc.service.impl.ApplicationManagerImpl">
                <property name="applicationDao" ref="applicationDao"/>
            </bean>
        </property>
    </bean>
    
    <bean id="ressourceManager" parent="txProxyTemplate1">
        <property name="target">
            <bean class="com.oxia.security.abc.service.impl.RessourceManagerImpl">
                <property name="ressourceDao" ref="ressourceDao"/>
            </bean>
        </property>
    </bean>
    
    <bean id="typeRessourceManager" parent="txProxyTemplate1">
        <property name="target">
            <bean class="com.oxia.security.abc.service.impl.TypeRessourceManagerImpl">
                <property name="typeRessourceDao" ref="typeRessourceDao"/>
            </bean>
        </property>
    </bean>
    
    <bean id="parametreManager" parent="txProxyTemplate1">
        <property name="target">
            <bean class="com.oxia.security.abc.service.impl.ParametreManagerImpl">
                <property name="parametreDao" ref="parametreDao"/>
            </bean>
        </property>
    </bean>
    
    <bean id="interimManager" parent="txProxyTemplate1">
        <property name="target">
            <bean class="com.oxia.security.abc.service.impl.InterimManagerImpl">
                <property name="interimDao" ref="interimDao"/>
            </bean>
        </property>
    </bean>
    
    
    <bean id="profilManager" parent="txProxyTemplate1">
        <property name="target">
            <bean class="com.oxia.security.abc.service.impl.ProfilManagerImpl">
                <property name="profilDao" ref="profilDao"/>
            </bean>
        </property>
    </bean>

</beans>
