<div
  class="panel-item"
  [class.panel-item-full]="isFullWidth"
  [style.grid-column]="isFullWidth ? '1 / -1' : 'auto'"
>
  <div class="panel-label">{{ label }}</div>

  <div class="panel-value">
    <ng-container [ngSwitch]="type">
      <!-- Link -->
      <a *ngSwitchCase="'link'" [href]="href || '#'" class="value-link">
        {{ value }}
      </a>

      <!-- Tag -->
      <p-tag
        *ngSwitchCase="'tag'"
        [value]="value"
        [severity]="severity || 'info'"
      >
      </p-tag>

      <!-- List -->
      <ul *ngSwitchCase="'list'" class="value-list">
        <li *ngFor="let item of value">{{ item }}</li>
      </ul>

      <ul *ngSwitchCase="'list-long'" class="value-list">
        <li *ngFor="let item of value">{{ item }}</li>
      </ul>

      <!-- HTML -->
      <span *ngSwitchCase="'html'" class="value-html" [innerHTML]="value">
      </span>

      <!-- Object -->
      <pre *ngSwitchCase="'object'" class="value-object">{{
        objectToString(value)
      }}</pre>
      <pre *ngSwitchCase="'object-long'" class="value-object">{{
        objectToString(value)
      }}</pre>

      <!-- Default Text -->
      <span *ngSwitchDefault class="value-text">
        {{ value }}
      </span>
    </ng-container>

    <ng-content *ngIf="!type"></ng-content>
  </div>
</div>
