<p-dialog
  [modal]="modal"
  [(visible)]="visible"
  [style]="style"
  [breakpoints]="breakpoints"
  [maximizable]="maximizable"
  (onHide)="handleHide()"
>
  <!-- Header -->
  <ng-template pTemplate="header">
    <ng-container *ngIf="customHeaderTemplate; else defaultHeader">
      <ng-container *ngTemplateOutlet="customHeaderTemplate"></ng-container>
    </ng-container>
    <ng-template #defaultHeader>
      <div class="inline-flex items-center justify-center gap-2">
        <span class="font-bold whitespace-nowrap" style="font-size: 18px">{{
          headerTitle
        }}</span>
      </div>
    </ng-template>
  </ng-template>

  <!-- Body Content --->
  <ng-content></ng-content>

  <!-- Footer -->
  <ng-template pTemplate="footer">
    <ng-container *ngIf="customFooterTemplate; else defaultFooter">
      <ng-container *ngTemplateOutlet="customFooterTemplate"></ng-container>
    </ng-container>
    <ng-template #defaultFooter>
      <div class="flex justify-end gap-2" *ngIf="showDefaultFooter">
        <p-button
          label="Cancel"
          [text]="true"
          severity="secondary"
          (click)="visible = false"
        />
      </div>
    </ng-template>
  </ng-template>
</p-dialog>
